:root {
    --primary-white-color: #fff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-font-family: Roboto;
    --secondary-font-family: Sans-serif;

}

body {
    font-family: var(--primary-font-family), var(--secondary-font-family);
    font-size: 14px;
    letter-spacing: 0.03em;

    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.section-title {
    font-size: 36px;
    line-height: 1.16;
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--primary-text-color)
}

.logo .logo-color {
    color: var(--accent-color);
}

.nav-list {
    list-style: none;
}

.nav-link,
.nav-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.current {
    color: var(--accent-color)
}

.nav-contact {
    color: var(--secondary-text-color)
}

.nav-link:hover,
.nav-link:focus,
.nav-contact:hover,
.nav-contact:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

/* Особенности */

.features-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    line-height: 1.71;
    
    color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

/* Наша команда */

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-description {
    font-size: 16px;
    line-height: 1.19;

    color:var(--secondary-text-color)
}

/* Filter */

.filter-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.active {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* Portfolio */

.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.87;

    color: var(--secondary-text-color)
}

/* Footer */

.footer {
    background-color: #2F303A;
}

.footer .logo {
    color: var(--primary-white-color);
}

.footer-address,
.footer-mail,
.footer-tel {
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

.footer-address {
    color: var(--primary-white-color);
}

.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
    color: var(--accent-color);
}
